@model WebAppLexicon.Models.Members.ViewModel.CreateSkillsViewModel

@{
    ViewData["Title"] = "Create Skills";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <div class="column1" style="background-color:rgb(50, 37, 102);">
        <h3>Skills</h3>
        <h1>
            <i class="fa-solid fa-user-pen"></i>
        </h1>
    </div>
    <div class="column2" style="background-color:rgb(101, 76, 204);">
        <form asp-controller="Skills" asp-action="Create" method="post">
            <div class="column3" style="background-color: rgb(101, 76, 204);">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="MemberId" class="control-label">Member</label>
                <input asp-for="MemberId" name="memberId" class="form-control" disabled />

                <label asp-for="SkillId" class="control-label">Skills</label>
                <select id="skillId" asp-for="SkillId" name="skillId" class="select">
                    @foreach (var item in Model.SkillList)
                    {
                        <option value="@item.SkillId">@item.Categories</option>
                    }
                </select>
                <label asp-for="SkillDesc" class="control-label">Descriptions</label>
                <input asp-for="SkillDesc" class="form-control" />
                <span asp-validation-for="SkillDesc" class="text-danger"></span>

                <select asp-for="SkillLevel" class="control-label">
                    <option value="1">Basic</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Advance</option>
                    <option value="4">Expert</option>
                </select>

                <label asp-for="SkillYears" class="control-label">Skill Years</label>
                <input asp-for="SkillYears" class="form-control" min="1" max="50" />
                <span asp-validation-for="SkillYears" class="text-danger"></span>

                <label asp-for="Charges" class="control-label">Charges</label>
                <input asp-for="Charges" class="form-control" min="1" />
                <span asp-validation-for="Charges" class="text-danger"></span>

                <select asp-for="ChargeUnit" class="control-label">
                    <option value="HR">Hour</option>
                    <option value="DAY">Day</option>
                    <option value="TRIP">Per trip</option>
                    <option value="OTHER">Others</option>
                </select>

                <label asp-for="MinUnit" class="control-label">Mini Unit</label>
                <input asp-for="MinUnit" class="form-control" min="1" />
                <span asp-validation-for="MinUnit" class="text-danger"></span>

                <div class="regform">
                    <nav>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbutton">Exit</a>
                    </nav>
                </div>
            </div>

            <div class="column3" style="background-color:#bbb;">
                <h4>My Skill List</h4>
                <hr />
                @if (ViewBag.ListOfSkill != null)
                {
            <table>
                @foreach (var skill in ViewBag.ListOfSkill)
                {
                    <tr class="table-dark">
                        <th class="text-danger"></th>
                        <td class="text-danger">
                            @foreach (var item in Model.SkillList)
                            {
                                if (item.SkillId == skill.SkillId)
                                {
                                    @item.Categories
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            @skill.SkillDesc
                        </td>
                    </tr>
                    <tr>
                        <th>Level</th>
                        <td>
                            @skill.SkillLevel
                        </td>
                    </tr>
                    <tr>
                        <th>Experinces</th>
                        <td>
                            @skill.SkillYears
                        </td>
                    </tr>
                    <tr>
                        <th>Charges</th>
                        <td>
                            @skill.Charges per
                            @skill.ChargeUnit
                        </td>
                    </tr>
                    <tr>
                        <th>Minimum</th>
                        <td>
                           @skill.MinUnit
                        </td>
                    </tr>
                }
            </table>
                } else
                { 
                    <h3>No Skills Entered Yet!!!</h3>
                }
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>
