@model List<WebAppLexicon.Models.Members.Members>
@{
    ViewData["Title"] = "Members Maintenance";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Members Maintenance</h2>
<form asp-action="Edit" method="post">
    <table class="contact">
        <tr>
            <th width="10px">ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Read</th>
            <th>Write</th>
            <th>Status</th>
            <th>Images</th>
            <th>Actions</th>
        </tr>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>
                    @Model[i].MemberId
                </td>
                <td>@Model[i].FirstName</td>
                <td>@Model[i].LastName</td>
                <td>@Model[i].Phone</td>
                <td>@Model[i].CntyId</td>
                <td>@Model[i].StateId</td>
                <td id="cityName">
                    @Model[i].CtyId
                </td>
                <td>
                    @Model[i].LangRead1;
                </td>
                <td>
                    @Model[i].LangWrite1;
                </td>
                <td>
                    @Model[i].MemberApproval;
                </td>
                <td>
                    <img src="~/images/@Model[i].ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Person" asp-route-id="@Model[i].MemberId">Delete</a>
                    <a class="btn btn-info" asp-action="Edit" asp-controller="Person" asp-route-id="@Model[i].MemberId">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
<div class="View" mode="Model">

</div>
@if (ViewBag.msg != null)
{
    <h3>@ViewBag.msg</h3>
}
