@model List<City>

@{
    ViewData["Title"] = "Index on List of Cities";
}

<h3>Cities</h3>

<a asp-action="Create" class="btn-secondary mt-4 mb-4">Add new City</a>
<table class="table table-warning table-striped">
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    <tbody>
        @foreach (City city in Model)
        {
            <tr>
                <td>@city.CityId</td>
                <td>@city.CityName</td>
                <td>@city.StateId</td>
                <td>
                    <a asp-action="Edit" asp-controller="City" asp-route-id="@city.CityId" class="mr-4 text-warning">Edit</a>
                    <a asp-action="Delete" asp-controller="City" asp-route-id="@city.CityId" class="mr-4 text-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.msg != null)
{
    <h3>@ViewBag.msg</h3>
}
